// Define variables for your color scheme
$primary: #BA184D;
$secondary: #F7C0D2;
$terciary: #F9A826;

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

// background-color:
$light-pink: #FFF9F0;

$pink: #F8E0DA;
$pink-border: #FCC0CB;
$invalid-pink: #D94496;

$pink-yeshe: #FACBE9; // pink
$border-yeshe: #FFD33C; // rgba(255,211,60,1)


$gray-yeshe: #DBD5CD; // Warm gray 1U
$yellow-yeshe: #FFEE93; // Yellow 931U
$violet-yeshe: #A086D7; // Violet 2087U
$green-yeshe: #70E3CA; // green


$Rose-fond: #f7c0d2;
$Vert-seconde: #bdeaca;
$Marron-tertiaire: #683D25;
