// Import Google fonts
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;700&family=Karla:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Schoolbell&display=swap');
// Define fonts for body and headers
$body-font: "Inconsolata", "Helvetica", "sans-serif";
$headers-font: "Karla", "Helvetica", "sans-serif";

// Fonts Jeune Publique
$jeune-publique-body-font: 'Indie Flower', cursive;
$jeune-publique-headers-font: 'Schoolbell', cursive;


// To use a font file (.woff) uncomment following lines
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";
