<div class="wraper-list-jp">
  <div class="cards-list-jp">
    <% @artists.each do |artist|%>
        <div class="card-category-list-jp">
     <%= link_to artist_path(artist) do %>
          <img src="<%= artist.image %>" class="artist-image" alt="...">
          <div class="card-body-jp">
            <h5 class="card-title-jp"><%= artist.name %></h5>
            <!-- <h6 class="card-title"><%= artist.style %></h6> -->
          </div>
     <% end %>
        </div>
    <% end %>
  </div>
</div>
