<% content_for :meta_title, "Les Concerts de #{DEFAULT_META["meta_product_name"]}" %>

<div class="relative">
  <div class="bg-secondary h-40 w-5/6 z-0 absolute hidden md:inline-block left-0 bottom-0 lg:ml-32 md:ml-16 mb-32">
  </div>
  <div class="banner relative my-16 z-10" style="background-image: url('<%= image_path "bandeau-concerts.jpg" %>'); background-position: top">
    <div class="container">
      <h1 class="absolute text-white text-3xl font-bold bg-white text-primary px-1 z-10">Concerts</h1>
    </div>
  </div>
</div>
<div class="bg-primary my-6">
  <%= render 'shared/list' %>
</div>
<% if !@events.empty? %>
<div class="wraper relative my-24">
  <!-- Section Agenda -->
  <div class="table-title px-4 bg-primary sm:inline-block absolute">
    <h2 class="text-2xl font-bold">Agenda</h2>
  </div>
  <div class="w-full sm:w-2/3 sm:p-12 bg-secondary">
    <table class="table-general">
      <%= render 'shared/event-table' %>
    </table>
  </div>
</div>
<% end %>
