<div class="bg-secondary h-40 w-5/6 z-0 absolute" style="left: 7.5%; bottom: 35%">
</div>
<div class="banner relative mb-16 z-10" style="background-image: url('<%= image_path "bandeau-concerts.jpg" %>'); background-position: top">
  <div class="container">
    <h1 class="absolute text-white text-3xl font-bold bg-white text-primary px-1 z-10">Concerts</h1>
  </div>
</div>
<div class="transition-fade">
  <div class="bg-primary my-6">
    <%= render 'shared/list' %>
  </div>
  <div class="wraper relative my-24">
    <div class="table-title p-4 bg-primary inline-block absolute">
      <h2 class="text-3xl font-bold">Agenda</h2>
    </div>
    <div class="w-2/3 p-12 bg-secondary">
      <table class="table-general">
        <%= render 'shared/event-table' %>
      </table>
    </div>
  </div>
</div>
