<% content_for :meta_title, "Jeune Public de #{DEFAULT_META["meta_product_name"]}" %>

<div class="bg-secondary h-40 w-5/6 m-auto mb-24 mt-48 relative">
  <div class="h-full flex flex-col justify-center" style="margin-left: 50%">
    <h1 class="text-3xl font-bold text-primary">Jeune Public</h1>
    <%= image_tag "jeune-public-bird", alt: "un poussin trop mignon", class: "sm:w-1/4 w-1/2 m-4 absolute bottom-0 left-0 sm:ml-56 sm:mb-12" %>
  </div>
</div>
<div class="bg-tertiary mb-20">
  <%= render 'shared/list' %>
</div>
<% if !@events.empty? %>
<div class="wraper relative my-24">
  <!-- Section Agenda -->
  <div class="table-title px-4 bg-primary sm:inline-block absolute">
    <h2 class="text-2xl font-bold">Agenda</h2>
  </div>
  <div class="w-full sm:w-2/3 sm:p-12 bg-secondary">
    <table class="table-general">
      <%= render 'shared/event-table' %>
    </table>
  </div>
</div>
<% end %>
