<%= stylesheet_link_tag 'jeune_public', media: 'all' %>
<div class="transition-fade">
 <div class="banner" style="background-color: transparent">
    <div class="container">
      <h1>Jeune Public</h1>
    </div>
  </div>
  <div class="container-jp">
      <%= render 'artists/list' %>
    <div class="table-title">
      <h2>Agenda</h2>
    </div>
    <div class="wraper">
      <table class="table-general">
        <%= render 'events/event-table' %>
      </table>
    </div>
  </div>
</div>
