<div class="premiere">
  <h1>Jeune Publique</h1>
  <%= render 'artists/list-jp' %>
  <div class="container">
    <table class="table table-hover table-info text-center">
      <%= render 'events/event-table' %>
    </table>
  </div>
</div>
