<% content_for :meta_title, "Les Spectacles de #{DEFAULT_META["meta_product_name"]}" %>

<div class="relative">
  <div class="bg-secondary h-40 w-5/6 z-0 absolute hidden md:inline-block left-0 bottom-0 lg:ml-32 md:ml-16 mb-32">
  </div>
  <div class="banner relative z-10 my-16" style="background-image: url('<%= image_path "bandeau-spectacles.jpg" %>')">
    <h1 class="absolute bg-white text-primary text-3xl font-bold px-1">Spectacles</h1>
  </div>
</div>
<div class="bg-primary my-6">
  <%= render 'shared/list' %>
</div>

