  <div class="banner" style="background-image: url('<%= image_path "bandeau-spectacles.jpg" %>')">
    <div class="container">
      <h1>Spectacles</h1>
    </div>
  </div>
<div class="transition-fade">
  <%= render 'shared/list' %>
  <div class="wraper relative">
    <!-- Section Agenda -->
    <div class="table-title p-4 bg-primary inline-block absolute top-0">
      <h2 class="text-3xl font-bold">Agenda</h2>
    </div>
    <table class="table-general">
      <%= render 'shared/event-table' %>
    </table>
  </div>
</div>
