  <div class="banner" style="background-image: url('<%= image_path "Bandeau_spectacles.jpg" %>')">
    <div class="container">
      <h1>Spectacles</h1>
    </div>
  </div>
<div class="transition-fade">
  <%= render 'artists/list' %>
  <div class="table-title">
    <h2>Agenda</h2>
  </div>
  <div class="wraper">
    <table class="table-general">
      <%= render 'events/event-table' %>
    </table>
  </div>
</div>
