.artist-page {
  border: 12px solid #FCC0CB;
  margin: 12px;
}

.artist-informations{
  text-align: center;
}

.description {
  height: 100px;
  margin: 40px 0px;
}

.dice {
  width: 60%;
  height: 350px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 200px auto;
}

.dice .photo {
  width: 200px;
}


.top-left {
  position: absolute;
  top: 0px;
  left: 0px;
}

.top-right {
  position: absolute;
  top: 0px;
  right: 0px;
}

.botom-left {
  position: absolute;
  bottom: 0px;
  left: 0px;
}

.botom-right {
  position: absolute;
  bottom: 0px;
  right: 0px;
}

.social-links {
  list-style: none;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.4);
  font-size: 50px;
}

.social-links a {
  text-decoration: none !important;
  color: #D94496;
  display: inline;
  opacity: 0.3;
}

.social-links a:hover {
  opacity: 1;
}

.social-links li {
  display: inline;
  text-align: center;
  padding: 22px ;
}

