<h1>Bonjour <%= @user.first_name %>!</h1>

<p>C'est encore nous. Simplement pour vous informer que votre commande N°10 a été envoyée.
Surveillez votre boîte aux lettres, vous aurez prochainement au moins une bonne surprise dedans !</p>

<p>À bientôt,
L'équipe Contrepied.</p>

<p>Post-scriptum : Si vous aviez un problème avec votre commande, écrivez-nous sur cette adresse mail : commandes@contrepiedproductions.fr</p>
