<h1>Bonjour <%= @user.first_name %>!</h1>

<p>C'est encore nous.</p>
<p>Simplement pour vous informer que votre commande numéro <%= @order.id %> a été envoyée.
Surveillez votre boîte aux lettres, vous aurez prochainement au moins une bonne surprise dedans !</p>
<br>
<p>À bientôt,
L'équipe Contrepied.</p>
<br>
<p>Post-scriptum : Si vous aviez un problème avec votre commande, écrivez-nous sur cette adresse mail : <%= mail_to "commande.contrepied@gmail.com" %></p>
