<div class="actus-wraper">
  <% @actus.each do |actu| %>
  <% if actu.published_at? %>
    <div class="actu-card">
      <h4><%= actu.title %> </h4>
      <div class="actu-illustration">
        <% if actu.featured_image != nil %>
        <img src="<%= actu.featured_image %>" alt="">
        <% end %>
        <% if actu.video != nil %>
          <iframe width="200" height="133.19" src="<%= actu.video %>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <% end %>
      </div>
      <div class="actu-description">
        <p><%= actu.description %></p>
      </div>
    </div>
  <% end %>
  <% end %>
</div>
