<div class="actus-wraper my-12 relative">
  <div class="hello">
    <div class="bg-secondary text-2xl text-primary font-bold absolute px-4" style="top: -1rem; right: 18rem">Actus</div>
    <% @actus.each do |actu| %>
    <% if actu.published_at? %>
    <div class="card-container my-2">
      <div class="actu-card">
        <div class="actu-illustration">
          <%= image_tag actu.featured_image if actu.featured_image.attached? %>
          <% if actu.video != nil %>
          <iframe width="200" height="133.19" src="<%= actu.video %>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          <% end %>
        </div>
        <div class="actu-description">
          <p><%= markdown(actu.description) %></p>
        </div>
      </div>
    </div>
    <% end %>
    <% end %>
  </div>
</div>
