<div class="actus-wraper relative">
  <div class="hello my-8">
  <div class="bg-secondary text-3xl font-bold absolute p-4" style="top: -3rem; right: 22rem">Actualités</div>
    <% @actus.each do |actu| %>
    <% if actu.published_at? %>
    <div class="card-container">
      <div class="actu-card">
        <div class="actu-illustration">
          <%= image_tag actu.featured_image if actu.featured_image.attached? %>
          <% if actu.video != nil %>
            <iframe width="200" height="133.19" src="<%= actu.video %>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          <% end %>
        </div>
        <div class="actu-description">
          <p><%= actu.description %></p>
        </div>
      </div>
    </div>
    <% end %>
    <% end %>
  </div>
</div>
