<div class="footer">
  <div class="footer-links">
    <a href="" style="display: none"><i class="fab fa-instagram"></i></a>
    <a href="https://www.facebook.com/contrepiedproductions/"><i class="fab fa-facebook-f"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <%= mail_to "contrepiedprod@gmail.com" do %>
      <i class="far fa-envelope"></i>
    <% end %>
  </div>
  <div class="footer-tabs">
    <%= link_to "Mentions Légales", legals_path %>
    <%= link_to "À Propos", about_path %>
    <%= link_to "Agenda", artists_path %>
  </div>
</div>
