 <tbody>
    <% @events.each do |event|%>
    <tr>
      <td><%= l event.date %></td>
      <td><%= event.location %></td>
      <% if event.ticket != nil %>
        <td><a href="<%= event.ticket %>"><i class="fas fa-ticket-alt"></i></a></td>
      <% else %>
        <td></td>
      <% end %>
    </tr>
    <% end %>
    </tr>
    <% end %>
  </tbody>
