<div class="transition-fade">
  <div class="banner" style="background-image: url('https://images.unsplash.com/photo-1529354235303-cc42f23d767a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60');">
    <div class="container">
      <h1>Agenda</h1>
      <p>Retrouvez nos artistes, partout en France</p>
    </div>
  </div>
  <div class="container">
    <table class="table-agenda">
      <%= form_with url: events_path, method: :get, local: true do |form| %>
        <%= form.select :city, @cities, {:include_blank => 'Recherche par ville...'}, {:class => 'select2'} %>



        <%= form.submit value:"Recherche" %>
      <% end %>
      <div class="wraper relative">
        <!-- Section Agenda -->
        <div class="table-title p-4 bg-primary inline-block absolute top-0">
          <h2 class="text-3xl font-bold">Agenda</h2>
        </div>
        <%= render 'shared/event-table' %>
      </div>
    </table>
  </div>
</div>
