<div class="container sm:m-5">
  <h1 class="p-5 text-center text-4xl text-primary font-bold">À Propos</h1>
  <p class="p-5 sm:mx-20 text-justify">
  <strong>Contrepied Productions</strong> est une société de production évoluant dans le monde du spectacle vivant. <br>
  <br>
  Nous avons pour objectif premier la création et la diffusion de tous types
  d'œuvres artistiques éveillant en nous le plaisir, la joie
  et la curiosité que nous aimerions transmettre à chaque personne,
  petites ou grandes, mettant le pied dans une salle de spectacle.
  Fort de ce désir depuis 2012, nous avons su acquérir, au fil des ans,
  une expérience solide et un réseau professionnel au niveau national.<br>
  <br>
  Pour chaque artiste avec qui nous débutons une aventure,
  pour chaque création et chaque première que nous vivons,
  nous essayons de retrouver ce feu subtil et cette énergie si particulière qui,
  aujourd'hui, font de notre équipe un réel atout pour les créateurs de demain.</p>
</div>
