<div class="container sm:m-5">
  <div class="bg-secondary h-40 w-5/6 m-auto mb-24 mt-48 relative">
    <div class="h-full flex flex-col justify-center" style="margin-left: 50%">
      <%= image_tag "logo", alt: "le logo", class: "bg-primary w-2/5 p-8 absolute bottom-0 left-0 sm:ml-12", style:"margin-bottom: -2rem" %>
      <h1 class="text-3xl font-bold text-primary">À Propos</h1>
    </div>
  </div>
  <div class="bg-primary mt-48 mb-20 p-8">
  <p class="px-16 py-12 sm:mx-20 text-justify bg-white text-sm mx-auto">
    <strong>Contrepied Productions</strong> est une société de production évoluant dans le monde du spectacle vivant. <br>
    <br>
    Nous avons pour objectif premier la création et la diffusion de tous types
    d'œuvres artistiques éveillant en nous le plaisir, la joie
    et la curiosité que nous aimerions transmettre à chaque personne,
    petites ou grandes, mettant le pied dans une salle de spectacle.
    Fort de ce désir depuis 2012, nous avons su acquérir, au fil des ans,
    une expérience solide et un réseau professionnel au niveau national.<br>
    <br>
    Pour chaque artiste avec qui nous débutons une aventure,
    pour chaque création et chaque première que nous vivons,
    nous essayons de retrouver ce feu subtil et cette énergie si particulière qui,
    aujourd'hui, font de notre équipe un réel atout pour les créateurs de demain.
  </p>
  </div>
</div>


<!-- bg-white text-primary sm:p-8 p-3 text-sm sm:my-16 my-2 mx-auto sm:mr-32 text-justify sm:col-span-1 relative -->
