<!-- title div -->
<div>
  <h1 class="text-primary font-bold text-4xl text-center">Encore un peu de patience...</h1>
  <h2 class="text-primary font-bold text-3xl text-center">La boutique Contrepied Productions arrive bientôt !</h2>
</div>
<br>
<!-- text div -->
<div>
  <p class="text-primary text-center text-lg mt-6 mb-32">Restez informés pour retrouver ici prochainement une
  sélection de produits en lien avec les artistes et spectacles de Contrepied Productions</p>
</div>
