<div class="container mb-12">
  <div class="px-16 py-12 sm:mx-20 text-justify bg-white text-sm mx-auto">
    <h1 class="text-3xl font-bold text-primary text-center">Pour nous contacter</h1>
    <ul class="p-5 text-center sm:text-3xl">
      <li><strong><i class="m-2 align-middle fas fa-map-marked-alt sm:text-4xl text-2xl text-primary"></i></strong> : 8 rue du Général Renault 75011 Paris</li>
      <li><strong><i class="m-2 align-middle far fa-envelope sm:text-4xl text-2xl text-primary"></i></strong> : contrepiedprod@gmail.com</li>
      <li><strong><i class="m-2 align-middle fas fa-phone-alt sm:text-4xl text-2xl text-primary"></i></strong> : 06 80 81 04 35</li>
    </ul>
  </div>
</div>
