<div class="container sm:m-5 mb-12">
  <h1 class="p-5 text-center text-4xl text-primary font-bold ">Pour nous contacter</h1>
  <p class="p-5 text-justify">
    <ul class="p-5 text-center sm:text-3xl">
      <li><strong><i class="m-2 align-middle fas fa-map-marked-alt sm:text-4xl text-2xl text-primary"></i></strong> : 8 rue du Général Renault 75011 Paris</li>
      <li><strong><i class="m-2 align-middle far fa-envelope sm:text-4xl text-2xl text-primary"></i></strong> : contrepiedprod@gmail.com</li>
      <li><strong><i class="m-2 align-middle fas fa-phone-alt sm:text-4xl text-2xl text-primary"></i></strong> : 06 80 81 04 35</li>
    </ul>

  </div>
