<div class="wraper">
  <div class="cards">
    <%= link_to theatre_artists_path do %>
      <div class="card-category">
        Théâtre
      </div>
    <% end %>
    <%= link_to concert_artists_path do %>
      <div class="card-category">
        Concert
      </div>
    <% end %>
    <%= link_to enfant_artists_path do %>
      <div class="card-category">
        Enfant
      </div>
    <% end %>
  </div>
</div>
<div class="wraper">
  <table class="table table-sm table-dark m-5">
    <%= render 'events/event-table' %>
  </table>
</div>
