<div class="container mt-5">
  <div class="bg-secondary h-40 w-5/6 m-auto mb-24 mt-48 relative">
    <div class="h-full flex flex-col justify-center" style="margin-left: 50%">
      <%= image_tag "logo_cp", alt: "le logo", class: "bg-primary w-2/5 p-8 absolute bottom-0 left-0 sm:ml-12", style:"margin-bottom: -2rem" %>
      <h1 class="text-3xl font-bold text-primary">Mentions Légales</h1>
    </div>
  </div>
  <div class="bg-primary mt-48 mb-20 p-8">
    <p class="px-16 py-12 sm:mx-20 text-justify bg-white text-sm mx-auto">
      Toute reproduction, toute représentation totale ou partielle, toute utilisation,
      toute adaptation, toute mise à disposition ou modification de ces éléments par quelque
      procédé que ce soit, par quelque personne que ce soit et par quelque moyen que ce soit
      (notamment la vente, la commercialisation, la location, etc.) sans l’autorisation expresse de la ,
      des éventuels auteurs ou de leurs ayant droits est strictement interdite et constitue un délit de
      contrefaçon au sens du code de la propriété intellectuelle.<br>
      <br>
      <strong>Protection de la vie privée et confidentialité</strong>
      <br>
      <br>
      En application des articles 27 et 34 de la loi dite "Informatique et libertés"
      n° 78-17 du 6 janvier 1978, vous disposez d’un droit de modification ou de suppression des données
      qui vous concernent. Si vous souhaitez exercer ce droit, vous pouvez, à tout moment, supprimer votre
      inscription à notre lettre d’information électronique via le lien de désinscription, ou nous écrire.
      Les informations collectées et intrégrées à nos bases de données font l’objet d'une utilisation uniquement
      à des fins d'informations pour , ou sont exceptionnellement cédées à nos partenaires culturels lorsque vous
      en avez donné l'autorisation.<br>
      <br>
      <strong>Responsabilité</strong><br>
      <br>
      Les liens hypertextes mis en place dans le cadre du présent site Internet en
      direction d’autres ressources présentes sur le réseau Internet ne sauraient engager
      la responsabilité de Contrepied productions.<br>
      <br>
      Nous ne garantissons pas que ce site soit exempt de défaut, d'erreur ou d’omission
      et qu'il corresponde exactement à l'usage auquel l'utilisateur le destine. Nous ne pouvons en
      aucun cas être tenus responsables des éventuels défauts, erreurs ou omissions existant sur ce site.<br>
      <br>
      Chaque utilisateur est seul responsable de l'usage qu’il fait des informations
      fournies par le site Internet de Contrepied productions, qui ne pourra en aucun cas être tenue
      responsable de tous dommages directs ou indirects découlant de l'utilisation de ces informations
      par l'utilisateur.<br>
      <br>
      <strong>Liens hypertextes</strong>
      <br>
      <br>
      Contrepied productions autorise la mise en place d'un lien hypertexte pointant
      vers son contenu dès lors qu'il ne crée pas de confusion sur la source des services
      et/ou contenus produits et/ou détenus par Contrepied productions.
    </p>
  </div>
</div>






