<div>
  <h1 class="text-primary font-bold text-4xl text-center">En retraite</h1>
  <h2 class="text-primary font-bold text-3xl text-center">Ce spectacle prend un peu de repos pour le moment !</h2>
  <img src="https://vever-amiot.pagesperso-orange.fr/bonhomme.GIF" alt="this slowpoke moves" class="w-2/3 m-auto"/>
</div>
