.actus-wraper {
  margin: 5em 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: $primary;
  padding: 2em 0;
}

.card-container{
    margin: 0 1rem;
}

.card-container:first-child{
    margin-left: 0;
}

.card-container:last-child{
    margin-right: 2em;
}

.actu-card {
  display: flex;
  background: #ffffff;
  height: 250px;
  width: 450px;
  padding: 0.5em;

}

.actu-illustration {
  height: 100%;
  width: 50%;
  img, iframe  {
    width: 100%;
    height: 100%;
    object-fit: cover;
  };
}

.actu-description {
  width: 50%;
  margin-left: 0.5em;
  display: flex;
  align-items: center;
  color: $primary;
}

.actu-title{
  background: #ffffff;
  width: min-content;
  white-space: nowrap;
  padding: 0.5em 1em;
  margin-bottom: 0.5em;
  color: $primary;
  font-weight: bold;
}
.hello{
  display: flex;
  justify-content: space-between;
  overflow-x: visible;
  overflow-y: hidden;
  margin: 0 2rem;
}

.hello::-webkit-scrollbar {
  width: 12px;
}
.hello::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}
.hello::-webkit-scrollbar-thumb {
  background: #F7C0D2;
  border-radius: 10px;
}


// ::-webkit-scrollbar {
//   margin-top: 2px;
//   -webkit-appearance: none;
//   width: 5px;
// }
// ::-webkit-scrollbar-thumb {
//   border-radius: 4px;
//   background-color: rgba(0, 0, 0, .5);
//   -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
//   margin-top: 2px;

// }
