// Gestion Banner Indexs
.banner {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 28rem;
  width: 75%;
  margin: 20px auto;
}
.banner h1 {
  top: 1rem;
  left: 2rem;
}
.banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

// Gestion du Responsive
@media (max-width: 640px) {
  /* For mobile phones: */
  .banner {
    height: 20rem;
    width: 90%;
    margin: 20px auto;
  }
  .banner-2 {
    height: 20rem;
    width: 90%;
    margin: 20px auto;
  }
}

// Gestion Banner Artist
.banner-2 {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 28rem;
  width: 60%;
  margin: 20px auto;
}
.banner-2 h1 {
  top: 1rem;
  left: 2rem;
}
.banner-2 p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}
