// .list-wraper{
//   display: flex;
//   justify-content: center;
//   align-items: center;
// }

// .list-grid {
//   display: grid;
//   grid-template-columns: 1fr ;
//   grid-gap: 30px;
//   margin: 30px 0 30px 0;
//   justify-content: center;
//   align-items: center;
// }

// .list-card {
//   position: relative;
//   height: 340px;
//   width: 680px;
//   border: 10px solid #bdeaca;
//   box-shadow: 0 0 15px rgba(0,0,0,0.2);
//   transition: all .6s ease;
//   text-align: center;
//   margin: 30px 0 30px 0;
//   background-position: center;
//   background-size: cover;
// }

// .list-card a{
//   text-decoration: none !important;
// }

// .list-card h5{
//   transition: all .6s;
//   text-shadow: 2px 2px 2px rgba(0,0,0,0.8);
//   color: #bdeaca;
//   font-size: 32px;
//  position: absolute;
//  bottom: 0px;
//  right: 0px;
// }

// .list-card h6{
//   transition: all .6s ease;
//   background-color: #bdeaca;
//   color: black;
//   position: absolute;
//   top: 0px;
//   left: 0px;
//   padding: 2px 10px 2px 10px;
// }

// .card-body {
//   padding: 0px;
  // background: linear-gradient(rgba(255,255,255,0.1), rgba(255,255,255,0.8));
// }


// Gestion de la class Inactive
.inactive {
  #back-image {
    transition: all .4s ease-in-out;
  }
  .card-style {
    transition: all .4s ease-in-out;
  }
  #inactive-flag {
    transition-delay: .3s in;
  }
}

.inactive {
  filter: grayscale(100%);
  &:hover {
    #back-image {
      filter: blur(0.5rem);
    }
    .card-style {
      filter: blur(0.5rem);
    }
    #inactive-flag {
      visibility: visible;
    }
  }
}

#back-image {
  border: solid 1em white;
}

#inactive-flag {
  top: 50%;
  left: 40%;
}


// Gestion de la class Jeunesse

// .jeunesse {
//  height: 340px;
//   width: 680px;
// }

// .jeunesse h5 {
//   font-family: 'Indie Flower';
//   font-size: 24px;
// }


// Gestion :hover

// .list-card:hover {
//   transform: scale(1.05);
//   border: 2px solid #bdeaca;

// }
// .list-card:hover a{
//   text-decoration: none !important;
// }

// .list-card:hover h5{
//   text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
//   color: #bdeaca;
//   font-size: 52px;
// }

// .list-card:hover h6{
//   background-color: #bdeaca;
//   color: black;
//   border: 2px solid #bdeaca;
//   padding: 2px 10px 2px 10px;
// }

// .list-card:hover #inactive-flag {
//   position: absolute;
//   color: #bdeaca;
//   top: 60%;
//   left: 33%;
// }


// Smallest device

@media (min-width: 100px) and (max-width: 575px) {
  .list-grid {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .list-grid {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .list-grid {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .list-grid {
    grid-template-columns: 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .list-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
