// Gestion de la class Inactive
.inactive {
  #back-image {
    transition: all 0.4s ease-in-out;
  }
  .card-style {
    transition: all 0.4s ease-in-out;
  }
  #inactive-flag {
    transition-delay: 0.3s in;
  }
}

.inactive {
  filter: grayscale(100%);
  &:hover {
    #back-image {
      filter: blur(0.5rem);
    }
    #shop-img {
      filter: blur(0.5rem);
    }
    .card-style {
      filter: blur(0.5rem);
    }
    #inactive-flag {
      visibility: visible;
    }
    #rupture-flag {
      display: block;
    }
  }
}

@media (min-width: 640px) {
  #back-image {
    border: solid 1em white;
    height: 25rem;
    width: 25rem;
  }
  .card-style {
    top: 27rem;
    left: 3rem;
  }
}

@media (max-width: 640px) {
  /* For mobile phones: */
  #back-image {
    border: solid 1em white;
    height: 18rem;
    width: 18rem;
  }
  .card-style {
    top: 19rem;
    left: 1rem;
  }
}

#inactive-flag {
  top: 50%;
  left: 40%;
}
