.card-category-list-inactive {
  height: 340px;
  width: 340px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 12px solid black;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  position: relative;
  transition: all .6s;
  background-color: transparent;
}

.card-category-list-inactive:hover {
  transform: scale(1.05);
  border: 6px solid #D94496;
}

.card-category-list-inactive a{
  text-decoration: none !important;
}

.card-category-list-inactive:hover a{
  text-decoration: none !important;

}

.card-category-list-inactive h5{
  transition: all .6s;
  text-shadow: 2px 2px 2px rgba(0,0,0,0.8);
  color: #FCC0CB;
  font-size: 24px;
}
.card-category-list-inactive:hover h5{
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  color: #D94496;
  font-size: 26px;
}

.card-category-list-inactive .inactive-flag {
  position: absolute;
  color: transparent;
  top: 60%;
  left: 33%;
}

.card-category-list-inactive:hover .inactive-flag {
  position: absolute;
  color: #D94496;
  font-size: 40px;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  top: 40%;
  left: 33%;
}

.card-category-list-inactive .artist-image-inactive {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-category-list-inactive .card-body-inactive {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 15%;
  background-color: transparent;
}
