.navbar {
  justify-content: space-between;
  background-color: #F8E0DA;
}

.navbar .navbar-collapse {
  flex-grow: 0;
}


.navbar .dropdown-menu {
   background-color: #F8E0DA;
   border-bottom: 2px solid #D94496;
}
