// Gestion du Ticket - Toutes les tables

.table-ticket a {
  // color: black;
  text-decoration: none;
  font-size: 24px;
  text-align: right;
  transition: all 0.2s;
}

// tr:hover .table-ticket a {
//   color: black;
//   opacity: .5;
// }

tr:hover {
  background-color: #BA184D;
  td {
    color: #F7C0D2;
  }
  p {
    color: #F7C0D2;
  }
  i {
    color: #F7C0D2;
  }
}

// Gestion du Link Name - Toutes les tables

.table-name a{
  text-decoration: none;
  color: black;
  transition: all 0.7s;
}

tr:hover .table-name a {
  color: black;
  opacity: .5;
  font-size: 25px;
}

// Gestion Table Agenda

.table-agenda {
  width: 100%;
  margin: 80px 20px;
  color: black;
}

.table-agenda tr {
  border-bottom: 0.2px solid #683D25;
}

.table-agenda td {
  padding: 15px 0px 5px 4px;
  vertical-align: bottom;
}


.table-agenda .table-date {
  font-size: 24px;
}

.table-agenda .table-name {
  font-size: 32px;
  font-weight: bold;
}

.table-agenda .table-location {
  font-size: 20px;
}

// Gestion Table Générale - pages Home, Concert, Spectacle, JP

.table-title {
  right: 22rem;
  // margin: 100px 50px 0px 50px;
  // text-align: center;
  // border-top: 0.2px solid #D94496;
  // padding-top: 16px;
}

.table-title h2 {
  // font-size: 48px;
  // font-weight: bold;
  color: white;
}

.table-general {
  width: 60%;
  margin: 60px 100px;
  color: black;
}

.table-general tr {
  border-bottom: 0.2px solid #D94496;
}

#ticket {
  padding: 1rem 3rem 1rem 1rem;
}

.table-general td {
  padding: 1rem 0.5rem 1rem 3rem;
  vertical-align: bottom;
}

.table-general .table-date {
  font-size: 16px;
  padding: 1rem 0.5rem 1rem 4rem;
}

.table-general .table-name {
  font-size: 24px;
}

.table-general .table-location {
  font-size: 12px;
}

// Gestion Table Artiste - Date et Lieu

.table-artist {
  color: black;
}

.table-artist tr {
  border-bottom: 0.2px solid #683D25;
}

.table-artist td {
  padding: 16px 0px 0px 0px;
  vertical-align: bottom;
}

.table-artist .table-date {
  font-size: 20px;
}

.table-artist .table-location {
  font-size: 20px;
}

.table-artist .table-ticket a {
  font-size: 20px;
}
