// SASS variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;

// Active Admin's got SASS!
@import "active_admin/mixins";
@import "active_admin/base";
@import "active_admin_pagedown/base";
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;700&family=Karla:ital,wght@0,400;0,700;1,400&display=swap');

// Overriding any non-variable SASS must be done after the fact.
// For example, to change the default status-tag color:
//
//   .status_tag { background: #6090DB; }

.name {
  font-weight: bold;
}
body {
  background-color: #f7c0d2;
  font-family: "Inconsolata";
}
.important {
}

.columns {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-gap: 10px;
  grid-auto-rows: auto;
}



.column {
  width: 100% !important;
}
h3 {
  border-radius: 15px 15px 0 0;
  font-size: 16px !important;
  text-align: center !important;
}
// .col-article {
//   display: grid;
// }
.panel {
  border-radius: 15px;
  font-size: 13px;
}

table tr th {
  // text-align: center !important;
  // background: blue;
}

#event-board {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}
#actu-board {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}
#order-board {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}

.links {
  font-size: 15px;
  display: flex;
  justify-content: space-between;
  a {
    text-decoration: none;
  }
}

.links a:hover {
  font-weight: bold;
}
