// Gestion font
.container-jp {
  font-family: 'Indie Flower';
  background-image: url('backg-jeunePublic.jpg');
  background-position: center;
  background-size: cover;

}

.container-jp h1 {
  font-family: 'Schoolbell';
  font-size: 64px;
  margin: 12px;
  padding: 8px;
}

.container-jp h2 {
  font-family: 'Schoolbell';
}

body {
  background-image: url('bandeau-jeunePublic.jpg');
  background-position: center;
  background-size: cover;
  color: #FFEE93;
  background-position: top;
  background-size: cover;
  background-attachment: fixed;
}
.container-jp {
  text-align: center;
  color: #FFEE93;
}

.navbar {
  font-family: 'Indie Flower';
  background-color: transparent;
  color: #FFEE93;
}

.navbar-brand h4 {
  font-family: 'Indie Flower';
  color: #FFEE93;
}

.footer {
  font-family: 'Indie Flower';
  color: #FFEE93;
}


.navbar a {
  color: #FFEE93;
}




.navbar .dropdown-menu {
   background-color: transparent;
}

.navbar .dropdown-item:hover {
   background-color: transparent;
}

