// .premiere {
//   background-color: #D94496;
// }
// Gestion font
.container-jp {
  font-family: 'Indie Flower';
}

.container-jp h1 {
  font-family: 'Schoolbell';
  font-size: 64px;
  margin: 12px;
  padding: 8px;
}

.container-jp h2 {
  font-family: 'Schoolbell';
}


.container-jp {
  text-align: center;
}

.navbar {
  font-family: 'Indie Flower';
}

.navbar-brand h4 {
  font-family: 'Indie Flower';
}

.footer {
  font-family: 'Indie Flower';
}
