.banner .container a {
  text-decoration: none !important;
  color: #FCC0CB;
}

.banner .container a:hover{
  text-decoration: none !important;
  color: #D94496;
}

.artist-page {
  border: 12px solid #FCC0CB;
  margin: 20px;
  padding-bottom: 16px;
}

.artist-informations{
  display: flex;
  justify-content: center;
  align-content: center;
  margin-top: 16px;
  padding: 16px;
}

.description {
  width: 80%;
  text-align: justify;
  font-size: 24px;
}

// Section Dice Photo

.dice {
  width: 60%;
  height: 350px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 16px auto;
}

.dice .photo {
  width: 200px;
}


.top-left {
  position: absolute;
  top: 0px;
  left: 0px;
}

.top-right {
  position: absolute;
  top: 0px;
  right: 0px;
}

.botom-left {
  position: absolute;
  bottom: 0px;
  left: 0px;
}

.botom-right {
  position: absolute;
  bottom: 0px;
  right: 0px;
}

// Social Lnks Section

.social-links {
  list-style: none;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.4);
  font-size: 50px;
  margin: auto;
  margin-top: 80px;
  width: 80%;
  display: flex;
  justify-content: space-between;
  padding-inline-start: 0px;
}

.social-links a {
  text-decoration: none !important;
  color: #D94496;
  display: inline;
  opacity: 0.3;
  transition: all .4s;
}

.social-links a:hover {
  opacity: 1;
}

.social-links li {
  display: inline;
  text-align: center;
}

// Table Section

.table-artist{
  width: 80%;
  margin: auto;
}

.artist-page > .table-title {
  margin: 0px 50px 0px 50px;
  text-align: center;
  border-top: 0.2px solid #D94496;
  padding-top: 16px;
}

// Disable Section

.navbar {
  display:none;
}

.footer {
  display:none;
}
