// Gestion font
.artist-page-jp {
  font-family: 'Indie Flower';
}

.artist-page-jp h1 {
  font-family: 'Schoolbell';
}

.artist-page-jp h2 {
  font-family: 'Schoolbell';
}


// Gestion des composants

.artist-page-jp {
  margin: 30px;
  padding-bottom: 16px;
  position: relative;
  border-radius: 100px;
  border: 12px solid #bdeaca;
  background-image: url('backg-jeunePublic-show-light.jpg');
  background-position: center;
  background-size: cover;
}

body {
  background-image: url('backg-jeunePublic.jpg');
  background-position: center;
  background-size: cover;
}

.artist-page-jp > .banner {
  border-radius: 85px 85px 0px 0px;
}


.banner >.container >a {
  text-decoration: none !important;
  color: #FCC0CB;
}

.banner >.container >a:hover{
  text-decoration: none !important;
  color: #D94496;
}

.artist-informations{
  display: flex;
  justify-content: center;
  align-content: center;
  margin-top: 16px;
  padding: 16px;
}

.description {
  width: 80%;
  text-align: justify;
  font-size: 24px;
}

.description p::first-letter {
  font-size: 28px;
  font-weight: bold;
}

.centrale {
  display: flex;
}

// Section list-info

.info-list {
  width: 25%;
  margin: 16px 8px;
  button {
    border: none;
    text-decoration:none;
    background-color: transparent;
  }
}
.info-list > li > ul.is-visible {
  display: none;
}

// Section Dice Photo

.dice {
  width: 75%;
  height: 350px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 16px 8px;
}

.dice .photo {
  width: 200px;
}


.top-left {
  position: absolute;
  top: 0px;
  left: 0px;
}

.top-right {
  position: absolute;
  top: 0px;
  right: 0px;
}

.botom-left {
  position: absolute;
  bottom: 0px;
  left: 0px;
}

.botom-right {
  position: absolute;
  bottom: 0px;
  right: 0px;
}

// Social Lnks Section

.social-links {
  list-style: none;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.4);
  font-size: 50px;
  margin: auto;
  margin-top: 80px;
  width: 80%;
  display: flex;
  justify-content: space-between;
  padding-inline-start: 0px;
}

.social-links a {
  text-decoration: none !important;
  color: rgba(255,211,60,1);
  display: inline;
  opacity: 1;
  transition: all .4s;
}

.social-links a:hover {
  opacity: 0.3;
}

.social-links li {
  display: inline;
  text-align: center;
}

// Table Section

.table-artist{
  width: 80%;
  margin: auto;
}

.artist-page-jp > .table-title {
  margin: 0px 50px 0px 50px;
  text-align: center;
  border-top: 0.2px solid #D94496;
  padding-top: 16px;
}

button:focus {
  outline: none;
}

ul {
  list-style: none;
}

// Border animation

    // .artist-page-jp:before {
    //   content: '';
    //   background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00,  #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    //   position: absolute;
    //   top: -2px;
    //   left: -2px;
    //   -webkit-background-size: 400%;
    //   background-size: 400%;
    //   z-index: -1;
    //   filter: blur(5px);
    //   width: calc(100% + 8px);
    //   height: calc(100% + 8px);
    //   animation: animate 20s linear infinite;
    //   opacity: 1;
    //   transition: all .3s ease;
    //   border-radius: 100px;
    // }

    // .artist-page-jp:after {
    //   z-index: -1;
    //   content: '';
    //   position: absolute;
    //   height: 100%;
    //   width: 100%;
    //   background: #FFF9F0;
    //   left: 0;
    //   top: 0;
    //   border-radius: 100px;
    // }

    // @keyframes animate {
    //   0%{
    //     background-position: 0 0;
    //   }
    //   50%{
    //     background-position: 400% 0;
    //   }
    //   100%{
    //     background-position: 0 0;
    //   }
    // }


// Disable Section

.navbar {
  display:none;
}

.footer {
  display:none;
}
