<p>Bonjour <%= @resource.first_name %>!</p>

<% if @resource.try(:unconfirmed_email?) %>
<p>Nous vous contactons pour vous informer que votre adresse e-mail est en train d'être remplacée par <%= @resource.unconfirmed_email %>.</p>
<% else %>
<p>Nous vous contactons pour vous informer que votre adresse e-mail a été remplacée par <%= @resource.email %>.</p>
<% end %>
<br>
  <hr>
  <p>Contrepied Productions</p>
  <p>8 rue du Général Renault 75011 Paris</p>
  <p>contrepiedprod@gmail.com</p>
  <p>06 80 81 04 35</p>
