<p>Hello <%= @resource.first_name %>!</p>

<p>Votre compte a été verrouillé en raison d'un nombre excessif de tentatives de connexion infructueuses.</p>

<p>Cliquez sur le lien ci-dessous pour déverrouiller votre compte:</p>

<p><%= link_to 'Déverrouiller mon compte', unlock_url(@resource, unlock_token: @token) %></p>
<br>
  <hr>
  <p>Contrepied Productions</p>
  <p>8 rue du Général Renault 75011 Paris</p>
  <p>contrepiedprod@gmail.com</p>
  <p>06 80 81 04 35</p>
