<div class="mx-12">
  <h1>Products</h1>
  <div class="grid grid-cols-3 gap-4">
    <% @products.each do |product| %>
    <% if product.published_at? %>
    <%# <div class="col-6 col-md-4"> %>
      <div class="card">
        <%= image_tag product.photo_url , class: "card-img-top w-5/12" %>
        <div class="card-body">
          <h5 class="card-title"><%= product.name %></h5>
          <p>Prix: <%= humanized_money_with_symbol(product.price) %></p>
          <%= link_to "Détails", product_path(product), class: "btn btn-primary" %>
        </div>
      </div>
    <%# </div> %>
    <% end %>
    <% end %>
  </div>
</div>
